.transfer {
    
    .input {
        padding: 4px ;
        border-radius: 3px;
        margin-right: 5px;
        height: 17px;
        border: 1px solid darkblue;
    }
    button{
        color: white;
        background-color: rgb(235, 51, 79);
        border: 1px solid darkblue;
        padding: 4px 6px;
        border-radius: 3px;
    }
}