.flex-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 67vh;
    .details-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        img {
            justify-self: center;
            width: 12vh;
            border-radius: 50%;
            margin-bottom: 10px;
            align-self: end;
        }
        color: whitesmoke;
    }
}


